[Unit]
Description=Audio Share With External Device on %I interface
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/walpy/hub/system/feature/audio-external/
ExecStart=/home/walpy/hub/system/feature/audio-external/start %i
SyslogIdentifier="audio-external"
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
