[Unit]
Description=Conky
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/walpy/script/system/feature/conky/
ExecStart=/bin/bash /home/walpy/script/system/feature/conky/start
SyslogIdentifier="conky-daemon"
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
