Host github
    User git
    Hostname github.com
    IdentityFile /home/__user_desktop/.ssh/___github
    IdentitiesOnly yes
Host vultr
    User ___user_host
    Hostname __some_ip
    IdentityFile /home/__user_desktop/.ssh/vultr
    IdentitiesOnly yes
    ServerAliveInterval 255
    ServerAliveCountMax 255
    TCPKeepAlive yes
    ForwardX11 yes
