/* window list */

.xfce4-panel .tasklist .toggle:hover {
    background-color: rgba(82, 226, 148, 0.7);
    color: #eeeeee;
}

.xfce4-panel .tasklist .toggle:checked {
    background-color: rgba(82, 148, 226, 0.7);
}

/* terminal */

terminal-window header.top,
.mate-terminal header.top {
    background-color: #2f343f;
    color: #aaaaaa;
    box-shadow: none;
}

terminal-window scrollbar,
.mate-terminal scrollbar {
    background-color: #2f343f;
}

/*

terminal-window.background.csd, terminal-window.background.csd.maximized {
  border-radius: 0 0 0 0;
}

terminal-window decoration {
  border-radius: 3px 3px 0 0;
}

terminal-window notebook > header > box {
  padding: 0;
}

terminal-window notebook > header > box button {
  border: none;
}

window.background > box.vertical > box.horizontal > frame > border {
  border-width: 0 1px 0 0;
}

window.background > box.vertical > box.horizontal > frame > scrolledwindow > viewport.frame list {
  border-bottom-left-radius: 3px;
}

window.background > box.vertical > box.horizontal > stack > widget > notebook.frame {
  border-width: 0;
}

window.background > box.vertical > box.horizontal > stack > widget > notebook.frame > stack {
  border-bottom-right-radius: 3px;
}

*/
