@import "colors.css";

/* modified version of arc + nelio theme
    see https://github.com/xfce-ricer/custom-xfce-panels/blob/main/Different%20styles/Arc%20x%20Nelio%20Theme/gtk.css */

.xfce4-panel {
    /*background-color: #2F343F;*/
    /*color: #2f343f;*/
}

#xfce-panel-button,
#whiskermenu-button,
#clock-button,
#pulseaudio-button,
#xfce4-notification-plugin,
#xfce4-power-manager-plugin,
#xfce4-clipman-plugin,
#launcher-arrow {
    background-color: #555566;
    color: #ffffff;
}
/* .xfce4-panel .tasklist .toggle */

#xfce-panel-button:hover,
#whiskermenu-button:hover,
#clock-button:hover,
#pulseaudio-button:hover,
#xfce4-notification-plugin:hover,
#xfce4-power-manager-plugin:hover,
#xfce4-clipman-plugin:hover,
#launcher-arrow:hover,
.xfce4-panel .tasklist .toggle:hover {
    background-color: #4488aa;
    color: #ffffff;
}

#xfce-panel-button:checked,
#whiskermenu-button:checked,
#clock-button:checked,
#pulseaudio-button:checked,
#xfce4-notification-plugin:checked,
#xfce4-power-manager-plugin:checked,
#xfce4-clipman-plugin:checked,
#launcher-arrow:checked,
.xfce4-panel .tasklist .toggle:checked {
    background-color: #33aa66;
    color: #ffffff;
}

#xfce-panel-button,
#whiskermenu-button,
#clock-button,
#pulseaudio-button,
#xfce4-notification-plugin,
#xfce4-power-manager-plugin,
#xfce4-clipman-plugin,
#launcher-arrow {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin: 4px;
    padding: 1px;
}

/*#xfce4-clipman-plugin {
    border: 1px dashed #f00;
}*/

/*#launcher-arrow, #xfce-panel-toggle-button:checked {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}*/

.xfce4-panel .tasklist .toggle {
    margin: 0px 1px;
    padding: 0px 5px;
}

/*  
old 5599dd
old 55dd99
*/